tr{
    height: 70px;
    width: 50px;
    /* background-color: black;  */
}

td{
    margin: 0px;
    padding: 0px;
}
black{
    background-color: black;
}

white{
    background-color: white;    
}

table{
    width: 800px;
    height: 800px;
    border: 1px solid black;
    background-color: white;
}

.checkers1{
	top:50px;
	left:10px;
	width: 54px;
	height: 54px;
    border-radius: 50%;
    background-color: grey;
	border: 4px solid white;
	cursor: pointer;	
}

.checkers2{ 
	top:10px;
	left:10px;
	width: 54px;
	height: 54px;
    border-radius: 50%;
    background-color: white;
	border: 4px solid grey;
	cursor: pointer;	
}

.selected{
    background-color: lightblue;
}