body{
    background-color: black;
}

h1{
    color: white;
}

p{
    background-color: blue;
    clear: both;
}

.header{
    background-color: lightgreen;
    color: white;
}

.groen{
    background-color: green;
}
button{
    cursor: pointer;
}

nav a{
    /* list-style-type: none; */
    text-decoration:none;
    border: 1px solid white;
    float: left;
    margin: 10px;
    padding: 10px;
}
nav a:hover {
    color: black;
    background-color: white;
}

.row{
    width: 1500px;
}

@media (min-width:1200px){
    .column{
        width: 400px;
        float: left;
    } 
}
